{% extends "base.html" %}

{% block incomes %}
  <div class="container">

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-historic-tab" data-toggle="tab" href="#nav-historic" role="tab" aria-controls="nav-historic" aria-selected="true">History</a>
        <a class="nav-item nav-link" id="nav-month-tab" data-toggle="tab" href="#nav-month" role="tab" aria-controls="nav-month" aria-selected="false">Monthly Progress</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-historic" role="tabpanel" aria-labelledby="nav-historic-tab">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Origin</th>
              <th scope="col">Cash</th>
              <th scope="col">Tip</th>
              <th scope="col">Comment</th>
            </tr>
          </thead>
          <tbody>
            {% for income in last5 %}
              <tr>
                <th scope="row">{{ income.date }}</th>
                <td>{{ income.who }}</td>
                <td>{{ income.cash }}</td>
                <td>{{ income.tip }}</td>
                <td>{{ income.comments }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="nav-month" role="tabpanel" aria-labelledby="nav-month-tab">
        <table class="table">
          <thead>
            <tr class="text-info">
              <th scope="col">Month</th>
              <th scope="col">Cash</th>
              <th scope="col">Time</th>
              <th scope="col">Ratio</th>
            </tr>
          </thead>
          <tbody>
            {% for month, incomes, hours, ratio in df %}
              <tr data-toggle="collapse" data-target=".multi-collapse{{month}}">
                  <th scope="row">{{ month }} <i class="fa fa-caret-down" /></th>
                  <th>{{ incomes }}€</th>
                  <th>{{ hours }}h</th>
                  <th>{{ ratio }}€/h</th>
              </tr>
                {% for month_detail, name, income, hour, ratio in details %}
                  {% if month_detail == month %}
                  <tr class="collapse multi-collapse{{month}} text-secondary" id="multi-collapse{{month}}">
                    <th scope="row" class="pl-4">{{ name }}</th>
                    <th>{{ income }}€</th>
                    <th>{{ hour }}h</th>
                    <th>{{ ratio }}€/h</th>
                  </tr>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            <tr class="table-info">
              <th scope="row"><strong>Total</strong></th>
              <th scope="row">{{total_incomes}}€</th>
              <th scope="row">{{total_hours}}h</th>
              <th scope="row">{{total_ratio}}€/h</th>
            </tr>
          </tbody>
        </table>

      </div>
    </div>


  </div>

{% endblock %}
