{% extends "base.html" %}

{% block incomes %}
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Origin</th>
          <th scope="col">Cash</th>
          <th scope="col">Tip</th>
          <th scope="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        {% for income in object_list %}
          <tr>
            <th scope="row">{{ income.date }}</th>
            <td>{{ income.who }}</td>
            <td>{{ income.cash }}</td>
            <td>{{ income.tip }}</td>
            <td>{{ income.comments }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
